<div id="topo">
  <%= link_to dynamics_path , method: :get  do %>
    <div class="topo-Logo wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
      IDeaTouch
    </div>
  <% end %>
  <%= link_to sign_out_path, method: :delete  do %>
    <div class="topo-perfil wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.6s">
      <i class="fa fa-power-off"></i>
    </div>
  <% end %>

  <!-- sino notificaçoes -->
  <% if @notificationss!=0 %>
    <%= link_to notifications_path , method: :get  do %>
      <div class="hvr-buzz-out">
        <div class="topo-perfil2 wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.7s">
          <i class="fa fa-bell"></i>
        </div>  
      </div>
    <% end %>
  <% else %>
  <%= link_to notifications_path , method: :get  do %>
    <div class="topo-perfil wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.7s">
      <i class="fa fa-bell-o"></i>
    </div>
  <% end %>
  <!-- -->
  <% end %>
  <%= link_to "/users/#{current_user.id}/edit", method: :get  do %>
    <div class="topo-perfil wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.8s">
      <i class="fa fa-user"></i>
    </div>
  <% end %>
  <div class="topo-nome wow fadeInRight" data-wow-duration="0.9s" data-wow-delay="0.9s">
    <div class="serif"><%=current_user.nome%></div>
  </div>
</div>
